<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ERROR!!</h1>
    <H1>資料儲存失敗</H1>
    <a href="/students">返回學生頁面</a>

</body>
</html>